<a href="https://colab.research.google.com/github/usman-shahbaz/exploratory-data-analysis-tasks/blob/main/Exploratory_Data_Analysis_Task_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# 1. Writer pandas series code to get following output without using dictionary:

In [14]:

# Define the values and index labels
data = [1, 4, 9, 6, 7]
index_labels = ['a', 'x', 'c', '2', 'e']

# Create the Pandas Series
series = pd.Series(data, index=index_labels)

print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

#2. Writer pandas series code to get following output using dictionary:

In [15]:

# Define the dictionary with names as keys and corresponding values
data_dict = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

# Create the Pandas Series from the dictionary
series = pd.Series(data_dict)

print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

#3. Write pandas dataframe code to get following output using python dictionary:

In [11]:

# Define the data dictionary
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'sunny']
}

# Create the pandas DataFrame
df = pd.DataFrame(data)

print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  sunny

#4. : In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [12]:

# Set the index labels
df.index = ['a', 'b', 'c', 'd', 'e', 'f']

# Display the DataFrame with the new index
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  sunny

#5. In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”:

In [13]:

# Calculate mean, maximum, and minimum for the label "temperature"
mean_temperature = df['temperature'].mean()
max_temperature = df['temperature'].max()
min_temperature = df['temperature'].min()

# Display the results
print("Mean temperature:", mean_temperature)
print("Maximum temperature:", max_temperature)
print("Minimum temperature:", min_temperature)

Mean temperature: 30.333333333333332
Maximum temperature: 35
Minimum temperature: 24

#6. Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:

In [19]:

# Read the CSV file 'people.csv' and import specific columns
columns_to_import = ["First Name", "Sex", "Email", "Phone", "Job Title"]
df = pd.read_csv('people.csv', usecols=columns_to_import, skiprows=[1, 5])

df.info()

# Set columns 'Sex' and 'Job Title' as index columns
df.set_index(["Sex", "Job Title"], inplace=True)

# Export the CSV as “NewPeople.csv”
df.to_csv('NewPeople.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  98 non-null     object
 1   Sex         98 non-null     object
 2   Email       98 non-null     object
 3   Phone       98 non-null     object
 4   Job Title   98 non-null     object
dtypes: object(5)
memory usage: 4.0+ KB

# 7. Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:

In [23]:

# Import sheet 1
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, header=None, skiprows=1)

# Keep only the first and last columns
df = df.iloc[:, [0, -1]]

# Set row 2 as header
df.columns = df.iloc[0]

# Skip row 2 while importing the sheet
df = df[1:]

# export as new sheet
df.to_excel('NewSheet.xlsx', index=False)

#8. Create the following dataframe as AICP_DF then implement different operations as described below:

In [10]:

# Create the DataFrame AICP_DF
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'lhr'],
    'Qualification': ['MSC', 'MA', 'MCA', 'PhD', 'Bsc']
}

AICP_DF = pd.DataFrame(data)

# select 'Name', 'Qualification' coloumns and save to df1
df1 = AICP_DF[['Name', 'Qualification']]

# Add a new column "Height" to AICP_DF
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Set column "Name" as the index column
AICP_DF.set_index('Name', inplace=True)

# Retrieve row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']

# Retrieve row with index 3
row_3 = AICP_DF.iloc[2]

# Drop row with index "Bilal"
AICP_DF.drop('Bilal', inplace=True)

# Display the DataFrames and results
print("AICP_DF:")
print(AICP_DF)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           MSC     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           PhD     5.2
Jazim   23       lhr           Bsc     5.1